<header class="ic-header">
  <div class="ic-header__content">
    <button
      matIconButton
      type="button"
      aria-label="Abrir menu"
      matTooltip="Abrir menu"
      (click)="menuToggle.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <a matIconButton routerLink="/" aria-label="Página inicial" matTooltip="Página inicial">
      <mat-icon>home</mat-icon>
    </a>

    <a
      matIconButton
      class="ic-header__profile"
      routerLink="/profile"
      aria-label="Meu perfil"
      matTooltip="Meu perfil"
    >
      <mat-icon>account_circle</mat-icon>
    </a>
  </div>
</header>
