@use '@angular/material' as mat;

.ic-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--ic-loading),
    )
  );
}
