@use '@angular/material' as mat;

.ic-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mat.form-field-overrides(
    (
      filled-container-color: var(--ic-field-bg),
      filled-disabled-container-color: var(--ic-field-bg),
      filled-container-shape: 0.5rem,
      filled-input-text-color: var(--ic-field-text),
      filled-disabled-input-text-color: var(--ic-text-disabled),
      filled-input-text-placeholder-color: var(--ic-field-placeholder),
      disabled-input-text-placeholder-color: var(--ic-text-disabled),
      filled-label-text-color: var(--ic-text-primary),
      filled-hover-label-text-color: var(--ic-text-primary),
      filled-focus-label-text-color: var(--ic-field-border-focus),
      filled-disabled-label-text-color: var(--ic-text-disabled),
      filled-active-indicator-color: var(--ic-field-border),
      filled-hover-active-indicator-color: var(--ic-field-border-focus),
      filled-focus-active-indicator-color: var(--ic-field-border-focus),
      filled-disabled-active-indicator-color: var(--ic-text-disabled),
      filled-caret-color: var(--ic-field-border-focus),
      error-text-color: var(--ic-button-danger-bg),
      filled-error-label-text-color: var(--ic-button-danger-bg),
      filled-error-hover-label-text-color: var(--ic-button-danger-bg),
      filled-error-focus-label-text-color: var(--ic-button-danger-bg),
      filled-error-active-indicator-color: var(--ic-button-danger-bg),
      filled-error-hover-active-indicator-color: var(--ic-button-danger-bg),
      filled-error-focus-active-indicator-color: var(--ic-button-danger-bg),
      filled-error-caret-color: var(--ic-button-danger-bg),
      state-layer-color: transparent,
      hover-state-layer-opacity: 0,
      focus-state-layer-opacity: 0,
    )
  );
}

.ic-input__label {
  color: var(--ic-text-primary);
}

.ic-input__field {
  background-color: var(--ic-field-bg);
  color: var(--ic-field-text);

  border: 1px solid var(--ic-field-border);
  border-radius: 0.5rem;

  padding: 0.75rem 1rem;

  &::placeholder {
    color: var(--ic-field-placeholder);
  }

  &:focus-visible {
    border-color: var(--ic-field-border-focus);
    outline: 2px solid var(--ic-field-border-focus);
    outline-offset: 2px;
  }

  &:disabled {
    color: var(--ic-text-disabled);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.ic-input__field--error {
  border-color: var(--ic-button-danger-bg);

  &:focus-visible {
    outline-color: var(--ic-button-danger-bg);
  }
}

.ic-input__error {
  color: var(--ic-button-danger-bg);
  font-size: 0.875rem;
}
