<mat-form-field class="ic-input">
  <mat-label>{{ label() }}</mat-label>

  <input
    matInput
    class="ic-input__field"
    [class.ic-input__field--error]="!!error()"
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="disabled() || formDisabled"
    [value]="value"
    [attr.aria-invalid]="!!error()"
    [attr.aria-describedby]="error() ? id() + '-error' : null"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />

  @if (error()) {
    <mat-error [id]="id() + '-error'">
      {{ error() }}
    </mat-error>
  }
</mat-form-field>
