@use './styles/palette';
@use './styles/tokens';
@use './styles/themes';
@use './styles/material-theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;

  background-color: var(--ic-background);
  color: var(--ic-text-primary);
}
