@use './styles/palette';
@use './styles/tokens';
@use './styles/themes';
@use './styles/material-theme';
@use './styles/responsive';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--ic-font-family-base);
  background-color: var(--ic-background);
  color: var(--ic-text-primary);
}
